body {margin: 2% 4% 2%; background-color: #000000;}

columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 3%;
}

.two {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 3%;
}

* {font-family: sans-serif; line-height: 1.4; color: grey;}
a {color: silver;}

p, blockquote {max-width: 70ch;}

hr {border: none; height: 1px; background-color: white; opacity: .2; margin: 25px 0px 25px 0px;}

.right {text-align: right; max-width: 100%;}

img {width: 100%; image-rendering: pixelated;}

div.logo {width: 55px; margin-left: auto;}

.headshot {
  width: 55vh;
  opacity: .3;
  position: fixed;
  top: 20%;
  right: 4%;
}

.button {width: 88px;}

.blink {
    animation: 1.2s infinite blink;
    display: inline;
}

@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@media (max-width: 1000px) {
columns {grid-template-columns: 1fr;}
.two {grid-template-columns: 1fr;}
.right {text-align: left;}
div.logo {margin-left: 0;}
div.ir {display: none;}
}

@media (min-width: 1000px) {
div.h1 {display: none;}
}
