body {margin: 3%; max-width: 2000px;}

columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
}

* { font-family: sans-serif; line-height: 1.4; color: #2e2c70}
a {color: #2e2c70;}

hr {border: none; height: 1px; background-color: #2e2c70; margin: 25px 0px 25px 0px;}

.right {text-align: right;}

img {width: 100%;}

div.logo {width: 55px; margin-left: auto;}

.static {
  width: 55vh;
  opacity: .5;
  position: fixed;
  top: 20%;
  right: 3%;
}

@media (max-width: 800px) {
columns {grid-template-columns: 1fr;}
.right {text-align: left;}
div.logo {margin-left: 0;}
.static {display: none;}
}
