body {margin: 2% 4% 2%; background-color: var(--bg); color: var(--text); --text: #121212; --bg: #f9f9f9;} 

html{scroll-behavior: smooth;}

columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 3%;
}

.two {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 3%;
}

* {font-family: sans-serif; line-height: 1.4;}
a {color: var(--text);}

p, blockquote {max-width: 70ch;}

hr {border: none; height: 1px; background-color: var(--text); opacity: .2; margin: 25px 0px 25px 0px;}

.right {text-align: right; max-width: 100%;}

img {width: 100%; border-radius: 20px;}

.poster {
  border: 20px solid black; border-radius: 0px; box-sizing: border-box;
}

.music {
  border-radius: 0px;
}

div.logo {width: 55px; margin-left: auto;}

.headshot {
  width: 55vh;
  opacity: .3;
  position: fixed;
  top: 20%;
  right: 4%;
}

.blink {
    animation: 1.2s infinite blink;
    display: inline;
}

.slider-wrapper {
	position: relative;
	max-width: 100%;
}

.slider {
	display: flex;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 20px;
	-ms-overflow-style: none; 
	scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: black;
	opacity: 0.6;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}


@keyframes blink {
    0%, 15% {
        opacity: 0;
    }
    16%, 100% {
        opacity: 1;
    }
}

@media (prefers-color-scheme: dark) {
body{ 
--text: silver;
--bg: #121212;}
.poster {border: none;}
}

@media (max-width: 1200px) {
columns {grid-template-columns: 1fr 1fr;}
}

@media (max-width: 800px) {
columns {grid-template-columns: 1fr;}
.two {grid-template-columns: 1fr;}
.right {text-align: left;}
div.logo {margin-left: 0;}
}
